body{
    background-color: rgb(89, 135, 159);
    background-image: url("C:/Users/MY/Downloads/disruptive-education-globe-background-vector-geography-digital-remix/rm373batch13-089a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    font-size: 35px;
}
td{
    padding: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebu
}
table{
  color: rgb(93, 246, 4);
}