body{
    background-image: url("C:/Users/MY/Downloads/disruptive-education-globe-background-vector-geography-digital-remix/rm373batch13-089a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(186, 8, 8);
    font-size: 80px;
    font-style: italic;

}
li{
    font-size: 40px;
    color: rgb(93, 246, 4);;
}